*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
	width: 80%;
}

form{
		width: 70%;
		max-width: 600px;
		margin-left: 50%;
		margin-right: 10%;
		text-align: center;
		padding-bottom: 50px;
}

form fieldset{
		padding: 0 40px;
		border: 3px solid lightgray;
}

form legend{
		text-align: left;
		font-size: 17px;
		color: darkgray;
}		

form input[type=text]{
		margin-left: 0px;
		margin-top: 20px;
		margin-bottom: 15px;
		width: 80%;
		display: inline-block;
		padding: 10px 13px;
		border: 1px solid #ccc;
}

form select{
		width:86%;
		margin-top: 20px;
		margin-bottom: 30px;
		display:  inline-block;
		padding: 10px 13px;
		border: 1px solid ccc;
}

form select option:nth-of-type(2n+1){
		color: darkgray;
}

form select option:[disable]{
		color: darkslategray;
}


form h2{
		text-align: left;
		margin-left: 55px;
		margin-top: 20px;
		margin-bottom: 20px;
		color: darkslategray;
}

.input{
		margin-top: 20px;
		margin-left: 50px;
		text-align: left;
		display: inline-block;
		color: gray;
		width: 100%;
}

.input span{
		margin-left: 13px;
		font-size: 16px;
		color: darkgrey;
}

form textarea{
		font-family: tahoma;
		color: darkgray;
		width: 84%;
		margin-top: 30px;
		padding: 10px 13px;
		display: inline-block;
		border: 1px solid #ccc;
		height: 140px;
}

form input[type=submit]{
		margin-top: 30px;
		margin-bottom: 20px;
		border: 2px solid darkgray;
		width: 140px;
		height: 40px;
		cursor: pointer;
		border: 0;
		background-color: lightgray;

}